.login-page{
	background-image: url('../../../assets/images/typewriter-801921_1920.jpg');
	height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.login-overlay{
    background-image: linear-gradient(#333,#000);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.header-text-container{
	position: absolute;
	width: 60%;
	left: 8em;
	top: 35%;
	text-align: left;
	font-family: ex2-medium;
	color: #fff;
}

.header-text-name{
    font-size: 120px;
    margin-bottom: 0.5em;
    opacity: 0;
    animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.login-button-content{
	opacity: 0;
	animation: buttonReveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.login-button{
    color: #fff;
    background: none;
    cursor: pointer;
    padding: 15px 45px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    outline: none;
    position: relative;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.abcRioButtonLightBlue{
    background: none;
}

.abcRioButtonContentWrapper{
    position: relative;
}

.abcRioButtonContentWrapper:after{
	content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    transition: all 0.3s;
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.2));
}

.animate-first {
	animation-delay: 500ms;
}

.animate-second {
	animation-delay: 1000ms;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }

}

@keyframes buttonReveal {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

/* Mobile First Responsiveness */

@media (max-width: 767px){
    .header-text-container{
        width: 100%;
        left:0;
        top: 15%;
        text-align: center;
    }

    .header-text-name{
        font-size: 45px;
        letter-spacing: 5px;
    }
}