.login-page{
    /* background-image: url('../../../assets/images/typewriter-801921_1920.jpg'); */
    background-image: linear-gradient(135deg, #1c2128,#231f1f,#696565);
	height: 100%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: ex2-medium;
}

.login-overlay{
    background-image: linear-gradient(#333,#000);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.header-text-container{
	/* position: absolute; */
    width: 100%;
    height: 100%;
	/* left: 8em;
	top: 35%; */
	text-align: center;
	font-family: ex2-medium;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.header-text-name{
    /* font-size: 120px; */
    font-size: 80px;
    margin-bottom: 0.3em;
    opacity: 0;
    letter-spacing: 1px;
    animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.header-subtext{
    font-size: 20px;
    opacity: 0;
    letter-spacing: 2px;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

.login-button-content{
    opacity: 0;
    position: relative;
	animation: buttonReveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.sign-in-button{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    height: 100%;
    border-radius: 5px;
    background: #333;
    color: #fff;
    background-image: linear-gradient(#231f1f,#333);
    cursor: pointer;
    letter-spacing: 2px;
    pointer-events: none;
}

.login-button{
    color: #fff;
    background: none;
    cursor: pointer;
    padding: 15px 45px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    outline: none;
    position: relative;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.abcRioButtonLightBlue{
    background: none;
}

.abcRioButtonContentWrapper{
    position: relative;
}

.abcRioButtonContentWrapper:after{
	content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    transition: all 0.3s;
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.2));
}

.move-first {
    opacity: 1;
    animation-delay: 300s;
    animation: goBy 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.move-second {
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeOut;
}

.move-third {
    opacity: 1;
    animation-delay: 900s;
    animation: goBy 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
	animation-delay: 500ms;
}

.animate-second {
	animation-delay: 900ms;
}

@keyframes goBy {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-200%);
    }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }

}

@keyframes buttonReveal {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 @keyframes fadeOut {
     0% {opacity: 1;}
     100% {opacity: 0;}
 }

/* Mobile First Responsiveness */

@media (max-width: 767px){
    .header-text-container{
        width: 100%;
        left:0;
        top: 15%;
        text-align: center;
    }

    .header-text-name{
        font-size: 45px;
        letter-spacing: 5px;
    }
}

@media (min-width: 2500px){
    .header-text-container{
        width: 50%;
        height: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,50%);
    }
}