<article class="homepage">
	<section class="homepage-content">
		<header class="header-container flex flex-align-center flex-between">
			<div class="header-text">DASHBOARD</div>
			<div class="logout-button" (click)="auth.logout()">
				<img src="/assets/images/logout_584191.png" alt="" class="logout-content">
			</div>
		</header>
		<article class="dashboard-top-panel flex">
			<div class="profile-details animate0">
				<div class="name-container">Hey, {{profile?.name}}</div>
				<div class="profile-photo-container">
					<img src={{profile?.picture}} alt="" class="profile-photo">
				</div>
			</div>
			<div class="food-items-container flex">
				<div class="food-item animate{{i}}" *ngFor="let item of foodItems;index as i">
					<img src={{item.image}} alt="" class="food-item-content">
				</div>
			</div>
		</article>
	</section>
</article>
