/* You can add global styles to this file, and also import other style files */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}




/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

:focus {
    outline: none;
}

/* Global styles */

html {
    font-size: 12px;
    height: 100%;
    width: 100%;
}

html body {
    margin: 0;
    height: 100%;
    width: 100%;
}


/* Utility classes */

.relative {
    position: relative;
}

.ilb {
    display: inline-block;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.left {
    float: left;
}

.right {
    float: right;
}

.abs-left {
    left: 0;
}

.abs-right {
    right: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.center {
    text-align: center;
}

* {
    box-sizing: border-box;
    font-family: ex2-regular;
    letter-spacing: 0.1px;
}

h1 {
    font-size: 2em;
    font-family: ex2-regular;
    font-weight: 500;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
    font-family: ex2-regular;
    font-weight: 500;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
    font-family: ex2-medium;
    letter-spacing: 0.1px;
}

/* Font family */

@font-face {
    font-family: ex2-bold;
    src: url(/assets/fonts/ex2/Exo2_eot/Exo2-Bold.eot);
    src: url(/assets/fonts/ex2/Exo2_Woff/Exo2-Bold.woff) format('woff'),
    url(/assets/fonts/ex2/Exo2_woff2/Exo2-Bold.woff2) format('woff2'),
    url(/assets/fonts/ex2/Ex2_ttf/Exo2-Bold.ttf) format('ttf');
}

@font-face {
    font-family: ex2-regular;
    src: url(/assets/fonts/ex2/Exo2_eot/Exo2-Regular.eot);
    src: url(/assets/fonts/ex2/Exo2_Woff/Exo2-Regular.woff) format('woff'),
    url(/assets/fonts/ex2/Exo2_woff2/Exo2-Regular.woff2) format('woff2'),
    url(/assets/fonts/ex2/Ex2_ttf/Exo2-Regular.ttf) format('ttf');
}

@font-face {
    font-family: ex2-medium;
    src: url(/assets/fonts/ex2/Exo2_eot/Exo2-Medium.eot);
    src: url(/assets/fonts/ex2/Exo2_Woff/Exo2-Medium.woff) format('woff'),
    url(/assets/fonts/ex2/Exo2_woff2/Exo2-Medium.woff2) format('woff2'),
    url(/assets/fonts/ex2/Ex2_ttf/Exo2-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'icomoon';
    src: url(/assets/fonts/icomoon.eot);
    src: url(/assets/fonts/icomoon.woff) format('woff'), url(/assets/fonts/icomoon.ttf) format('ttf'), url(/assets/fonts/icomoon.svg#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ex2-light;
    src: url(/assets/fonts/ex2/Exo2_eot/Exo2-Light.eot);
    src: url(/assets/fonts/ex2/Exo2_Woff/Exo2-Light.woff) format('woff'),
    url(/assets/fonts/ex2/Exo2_woff2/Exo2-Light.woff2) format('woff2'),
    url(/assets/fonts/ex2/Ex2_ttf/Exo2-Light.ttf) format('ttf');
}

@font-face {
    font-family: ex2-thin;
    src: url(/assets/fonts/ex2/Exo2_eot/Exo2-Thin.eot);
    src: url(/assets/fonts/ex2/Exo2_Woff/Exo2-Thin.woff) format('woff'),
    url(/assets/fonts/ex2/Exo2_woff2/Exo2-Thin.woff2) format('woff2'),
    url(/assets/fonts/ex2/Ex2_ttf/Exo2-Thin.ttf) format('ttf');
}

@font-face {
    font-family: ex2-extraLight;
    src: url(/assets/fonts/ex2/Exo2_eot/Exo2-ExtraLight.eot);
    src: url(/assets/fonts/ex2/Exo2_Woff/Exo2-ExtraLight.woff) format('woff'),
    url(/assets/fonts/ex2/Exo2_woff2/Exo2-ExtraLight.woff2) format('woff2'),
    url(/assets/fonts/ex2/Ex2_ttf/Exo2-ExtraLight.ttf) format('ttf');
}

/*****************************************/

.pointer {
    cursor: pointer;
}

.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-col {
    flex-direction: column;
}

.flex-col-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-flow-wrap {
    flex-flow: wrap;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}

.v-mid {
    vertical-align: middle;
}

.full-width {
    width: 100%;
}

/*---loader----*/
.line{
    position: absolute;
    top: 0px;
    width: 2px;
    height: 8px;
    background-color: #696565;
}

.circle{
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #696565;
}
.circle-top{
    top: 0px;
    left: -3.5px;
}
.circle-bottom{
    bottom: 0px;
    left: -3.5px;
}

.dot{
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: -1.5px;
}

.line1{
    margin-left: 0px;
    background-color: #34373c;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > span{
    background-color: #34373c;
}
.line1 > .dotted > .dot{
    background-color: #34373c;
}
.line1 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}
.line1 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) infinite;
}

.line2{
    margin-left: 35px;
    background-color: #39373c;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > span{
    background-color: #39373c;
}
.line2 > .dotted > .dot{
    background-color: #39373c;
}
.line2 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}
.line2 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .05s infinite;
}

.line3{
    margin-left: 70px;
    background-color: #3f373c;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > span{
    background-color: #3f373c;
}
.line3 > .dotted > .dot{
    background-color: #3f373c;
}
.line3 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}
.line3 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .1s infinite;
}

.line4{
    margin-left: 105px;
    background-color: #44373c;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > span{
    background-color: #44373c;
}
.line4 > .dotted > .dot{
    background-color: #44373c;
}
.line4 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}
.line4 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .15s infinite;
}

.line5{
    margin-left: 140px;
    background-color: #49373c;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > span{
    background-color: #49373c;
}
.line5 > .dotted > .dot{
    background-color: #49373c;
}
.line5 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}
.line5 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .2s infinite;
}

.line6{
    margin-left: 175px;
    background-color: #4f373c;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > span{
    background-color: #4f373c;
}
.line6 > .dotted > .dot{
    background-color: #4f373c;
}
.line6 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}
.line6 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .25s infinite;
}

.line7{
    margin-left: 210px;
    background-color: #54373c;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > span{
    background-color: #54373c;
}
.line7 > .dotted > .dot{
    background-color: #54373c;
}
.line7 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}
.line7 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .3s infinite;
}

.line8{
    margin-left: 245px;
    background-color: #5f373c;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > span{
    background-color: #5f373c;
}
.line8 > .dotted > .dot{
    background-color: #5f373c;
}
.line8 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}
.line8 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .35s infinite;
}

.line9{
    margin-left: 280px;
    background-color: #646565;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > span{
    background-color: #646565;
}
.line9 > .dotted > .dot{
    background-color: #646565;
}
.line9 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}
.line9 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .4s infinite;
}

.line10{
    margin-left: 315px;
    background-color: #6f6565;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > span{
    background-color: #6f6565;
}
.line10 > .dotted > .dot{
    background-color: #6f6565;
}
.line10 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}
.line10 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .45s infinite;
}

.line11{
    margin-left: 350px;
    background-color: #696565;
    -webkit-animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: line 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > span{
    background-color: #696565;
}
.line11 > .dotted > .dot{
    background-color: #696565;
}
.line11 > .dotted > .dot-top{
    top: 0px;
    -webkit-animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: dot-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;

}
.line11 > .dotted > .dot-bottom{
    bottom: 0px;
    -webkit-animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: dot-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > .dotted > .dot-middle-top{
    top: 0px;
    -webkit-animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: dot-middle-top 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}
.line11 > .dotted > .dot-middle-bottom{
    bottom: 0px;
    -webkit-animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
    animation: dot-middle-bottom 2s cubic-bezier(0.250, 0, 0.705, 1) .5s infinite;
}

@-webkit-keyframes line{
    0%{height: 4px; top: 0px; left: 0px; -webkit-transform: rotate(-65deg)}
    10%{height: 220px; top: -110px; left: 15px;}
    45%{height: 200px; top: -100px; left: 25px;}
    70%{height: 8px; top: 0px; left: 25px; -webkit-transform: rotate(0deg);}
    100%{height: 8px; top: 0px; left: 15px; -webkit-transform: rotate(0deg);}
}
@-webkit-keyframes dot-top{
    0%{top: -30px}
    10%{top: -30px;}
    45%{top: -25px;}
    60%{top: 0px;}
    100%{top: 0px;}
}
@-webkit-keyframes dot-bottom{
    0%{bottom: -30px}
    10%{bottom: -30px;}
    45%{bottom: -25px;}
    60%{bottom: 0px;}
    100%{bottom: 0px;}
}
@-webkit-keyframes dot-middle-top{
    0%{}
    10%{}
    45%{top: 98px;}
    70%{top: -50px;}
    85%{top: 0px;}
    100%{top: 0px;}
}
@-webkit-keyframes dot-middle-bottom{
    0%{}
    10%{}
    45%{bottom: 98px;}
    70%{bottom: -50px;}
    85%{bottom: 0px;}
    100%{bottom: 0px;}
}

@keyframes line{
    0%{height: 4px; top: 0px; left: 0px; transform: rotate(-65deg)}
    10%{height: 220px; top: -110px; left: 15px;}
    45%{height: 200px; top: -100px; left: 25px;}
    70%{height: 8px; top: 0px; left: 25px; transform: rotate(0deg);}
    100%{height: 8px; top: 0px; left: 15px; transform: rotate(0deg);}
}
@keyframes dot-top{
    0%{top: -30px}
    10%{top: -30px;}
    45%{top: -25px;}
    60%{top: 0px;}
    100%{top: 0px;}
}
@keyframes dot-bottom{
    0%{bottom: -30px}
    10%{bottom: -30px;}
    45%{bottom: -25px;}
    60%{bottom: 0px;}
    100%{bottom: 0px;}
}
@keyframes dot-middle-top{
    0%{}
    10%{}
    45%{top: 78px;}
    70%{top: -50px;}
    85%{top: 0px;}
    100%{top: 0px;}
}
@keyframes dot-middle-bottom{
    0%{}
    10%{}
    45%{bottom: 78px;}
    70%{bottom: -50px;}
    85%{bottom: 0px;}
    100%{bottom: 0px;}
}


/*----media queries------*/

@media only screen and (max-width: 1025px) and (min-width:767px){
    .homepage-content .details{
        width: calc(100% - 30em) !important;
    }
}



@media only screen and (max-width: 767px){
    .homepage-content .details{
        width: 100% !important;
    }

    .description{
        width: 100% !important;
    }
}