<article class="homepage">
	<section class="homepage-content">
		<div class="details">
			<div class="profile-details animate0">
				<div class="profile-photo-container">
					<img src={{profile?.image}} alt="" class="profile-photo">
				</div>
				<div class="name-container">Hey, {{profile?.name}}</div>
			</div>
		</div>
		<div class="logout" (click)="signout()">
			Sign Off
		</div>
	</section>
	<section class="features-container flex">
		<div class="features-container-content">
			<router-outlet></router-outlet>
		</div>
	</section>
</article>
